.cards{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}


.cartao{

    width:180px;

    cursor:pointer;

}


.cartao-frente,
.cartao-verso{

    background:white;

    border-radius:10px;

    overflow:hidden;

    box-shadow:0 4px 10px rgba(0,0,0,.3);

    text-align:center;

}


/* Esconde o verso */
.cartao-verso{

    display:none;

}


/* Quando o mouse passa sobre o cartão */
.cartao:hover .cartao-frente{

    display:none;

}

.cartao:hover .cartao-verso{

    display:block;

}


.cartao-imagem{

    width:100%;

    height:120px;

    object-fit:cover;

    display:block;

}


.cartao-frente p,
.cartao-verso p{

    padding:10px;

    font-size:14px;

}
