.cards{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

    perspective:1000px;

}


.cartao{

    width:180px;

    height:220px;

    position:relative;

    cursor:pointer;

    transform-style:preserve-3d;

    transition:transform .6s;

}


.cartao:hover{

    transform:rotateY(180deg);

}


.cartao-frente,
.cartao-verso{

    position:absolute;

    width:100%;

    height:100%;

    background:white;

    border-radius:10px;

    overflow:hidden;

    box-shadow:0 4px 10px rgba(0,0,0,.3);

    text-align:center;

    backface-visibility:hidden;

}


.cartao-verso{

    transform:rotateY(180deg);

}


.cartao-imagem{

    width:100%;

    height:120px;

    object-fit:cover;

    display:block;

}


.cartao-frente p,
.cartao-verso p{

    padding:10px;

    font-size:14px;

}
